/*header style*/
*{
	padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
   
}
.navbar{
    background: rgba(16,82,133,.35);
}
.navbar-brand{
	width:100px;
	height: 100px;
	color: #fff;
	font-style: italic;
	margin: 0;
	padding: 0;
}
.navbar.solid {
    background-color: #490D40;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
}
.nav-colored { background-color:#000; }
.nav-transparent { background-color:transparent;}
.navbar-brand img{
    width:100px;
    height: 100px;
    margin: 0;
    padding: 0px;
}

.list-item li a{
	font-size: 18px;
	font-family: myfont;
	position: relative;
	margin-right: 5px;
	color: #fff;

}
.dropdown-item{
	color: black;
}
.list-item li a:before{
	content:"";
	position: absolute;
	top:100%;
	left: 0;
	width:0%;
	height: 2px;
	background: rgba(255, 255, 255, .5);
	transition: .5s;
}
.list-item li a:hover:before{
	content:"";
	width:100%;
}
.navbar-expand-lg .navbar-nav .nav-link{
	padding: unset;
}
.navbar-expand-lg .navbar-nav .nav-link:not(last-child){
	margin-right: 1rem;
}
@font-face{
	font-family:myfont;
	src:url('fonts/PlayfairDisplay-VariableFont_wght.ttf');
}
.navbar .navbar-toggler-icon{
	background-image: url(menu.png);
	box-shadow:none;
}

.nav-item button{
	border-radius: 100px; 
	border-style: none;
}
.carousel-inner{
	width: 100% !important;
}
.carousel-item img{
    height: 600px;
    max-height: 1000px;
    display: flex;
    position:relative;
    top:0;


}

.typewriter{
	display: flex;
	justify-content: space-between;
}
.typewriter .main_content{
	display: flex;
	justify-content: space-between;
	position: absolute;
}
.carousel-inner .main_image{
	width: 400px;
	height: 300px;
	position: absolute;
      top: 60px;
      left: 20px;
      max-width: 100%;
    height: auto;
    flex: 0 0 auto;
    margin-left: 60px;
}

.typewriter{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    margin-top: 70px;
    font-size: 30px;
	color: #000;
	font-family: gilroy, sans-serif;
	position: absolute;
    top: 200px;
    right: 60px;
}
.typewriter p{
	font-size: 20px;
  text-align: right;
  font-family: gilroy, sans-serif;
}

.typewriter .texts{
	display: flex;
    justify-content: space-between;
    font-family: gilroy, sans-serif;
}
.typewriter button{
	border-radius: 100px;
	align-self:center;
	display: flex;
	justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border: none;
    font-family: gilroy, sans-serif;
}
.typewriter .bluebutton{
    background-color:  #52a6fb;
}
.typewriter a{
    font-family: gilroy, sans-serif;
}
.typewriter .blue_p{
    color: #52a6fb;
}
.typewriter .greenbutton{
    background-color: #657e64;
}
.typewriter .green_p{
    color: #657e64;
}
.typewriter .beige_p{
color: #756A58;
}
.typewriter .beigebutton{
    background-color: #756A58;
}
.typewriter .darkblue_p{
    color: #CFB882;
    }
.typewriter .darkbluebutton{
        background-color: #CFB882;
    }
.main{
	display: flex;
	flex-direction: column;
}
.slide_two_button{
	background-color: lightblue;
}


.carousel-item{
	height: 550px;
}

/*------*/
 .wrapper-wave {
                display: block;
                position: relative;
                bottom: -1px;
                width: 100%;
                overflow: hidden;
                pointer-events: none
            }

             .wrapper-wave .wave {
                display: block;
                position: relative;
                width: 102%;
                left: -1%;
                fill: #fff
            }

             .wrapper-wave .wave:before {
                content: "";
                display: block;
                padding-bottom: 15.238%
            }

             .wrapper-wave .icon {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                fill: #fff
            }
            .module.over {
                position: relative;
                z-index: 2;
            }
            .mod.small-padding {
                padding-top: 125px;
                padding-bottom: 125px;
            }
            .wrapper-cta-blocks[data-v-0092190a] {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: -36vh;
            }
            .cta-blocks[data-v-0092190a] {
                display: flex;
                align-items: stretch;
                width: 100%;
                max-width: 1010px;
                border-radius: 28px;
                background: #fff;
                box-shadow: 0 14px 90px rgba(26,87,120,.26);
            }
            .cta-block[data-v-0092190a] {
                position: relative;
                width: 50%;
                padding: 100px 50px 110px;
                color: #a1a6ac;
            }
            
            .cta-block[data-v-0092190a]:first-child:before {
                content: "";
            }
            .cta-block[data-v-0092190a]:before {
                content: none;
                display: block;
                width: 1px;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                background: #e0e0e0;
            }
            .cta-block[data-v-0092190a] p {
                max-width: 265px;
                font-size: 2rem;
                margin-left: auto;
                margin-right: auto;
            
            }
            .cta-btn[data-v-0092190a] {
                margin-top: 40px;
            }
            .btn {
                border-radius: 100px;
            }
           
            a {
                color: inherit;
                text-decoration: none;
                transition: .3s ease-in-out;
            }
            .btn {
                border-radius: 100px;
            }
            a {
                background-color: transparent;
            }
            h3{
                color: #105285;
                font-family: gilroy,sans-serif;
                margin-top: 20px;
               
            }
            .has-bg .bg {
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                z-index: -1;
            }
            .bounds-cards{
                display: flex;
            }
            .wrapper-cards{
                display: flex;
                align-items: stretch;
                justify-content: flex-start;
                padding: 50px 0;
            }
            .card{
                flex: 0 0 auto;
                position: relative;
                display: flex;
                flex-direction: column;
                width: 350px;
                margin: 0 15px;
                border-radius: 28px;
                box-shadow: 0 4px 10px rgba(10,34,53,.1);
                overflow: hidden;
            }
            .card.is-touch .wrapper-title:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
            }
             .title {
                font-weight: 700;
            }
            .title{
                padding: 0 40px;
                font-family: gilroy,sans-serif;
                font-size: 2.5rem;
                line-height: 1.1;
                color: #fff;
                transition: .3s ease-in-out;
            }
            .card>.icon-wave-inverted{
                position: absolute;
                bottom: -1px;
                left: 50%;
                margin-left: -50px;
                width: 100px;
                height: 40px;
                fill: #fff;
                -webkit-transform: translateZ(0) rotate(180deg);
                transform: translateZ(0) rotate(180deg);
            }
            svg:not(:root) {
                overflow: hidden;
                vertical-align: middle;
            }
            .icon {
                width: 1.2em;
                height: 1.2em;
                fill: currentColor;
            }
            .card .icon-arrow-up{
                position: absolute;
                bottom: 12px;
                left: 50%;
                margin-left: -7px;
                width: 14px;
                height: 10px;
            }
            :not(svg) {
                transform-origin: 0px 0px;
            }
            .wrapper-img {
                position: absolute;
                top: 115px;
                bottom: 100px;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
            }
            
            .module-cards-list{
                margin-top: 0;
                background-color: #0099ff;
            }
            .typewrite{
                color: #657e64; 
                font-family: 'Grandstander', cursive;
            }
           
/*Contact Styles*/

.header-contact[data-v-2bd73ab3] {
    position: relative;
    padding: 65px 65px 85px;
    background: #105285;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.contact-title h3{
    color: #11a3eb;
    font-size: 20px;
    margin-top: 10px;
    
}
.contact-title[data-v-2bd73ab3] p {
    font-family: gilroy,sans-serif;
}
.header-contact .icon-wave-inverted[data-v-2bd73ab3] {
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.icon {
    width: 1.2em;
    height: 1.2em;
    fill: #fff;
}
.form--contact-us{
    margin-top: 20px;;
    width: 400px;
    flex-wrap: wrap;
    justify-content: left;
}

.btn.huge {
    padding: 25px 60px;
    font-size: 1.5rem;
}
            /*Statistics styles*/

.statistics{
    height: 100%;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Roboto', sans-serif;
 overflow: hidden;
}
.panel {
    width: 750px;
    height: 400px;
    background: #838CC7;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    overflow: hidden;
  }
  .panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 60px;
    background: #fff;
  }
   
  .title {
    color: #5E6977;
    font-weight: 500;
  }
   
  .calendar-views span {
    font-size: 14px;
    font-weight: 300;
    color: #BDC6CF;
    padding: 6px 14px;
    border: 2px solid transparent;
  }
  .panel-body {
    display: flex;
    height: 340px;
  }
  .categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 25%;
    padding: 39px 0px 41px 26px;
  }
  .category {
    display: flex;
    flex-direction: column;
  }
  .category span:first-child {
    font-weight: 300;
    font-size: 14px;
    opacity: 0.6;
    color: #fff;
    margin-bottom: 6px;
  }
  .category span:last-child {
    font-size: 32px;
    font-weight: 300;
    color: #fff;
  }
  .chart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    position: relative;
  }
   
  .systems {
    display: flex;
    justify-content: space-between;
    width: 215px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  span[class*=&quot;-os&quot;] {
    font-size: 14px;
    font-weight: 300;
    font-size: 14px;
    color: #c3c6e4;  
  }
  span[class*=&quot;-os&quot;] span {
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 9px;
  }
  .apps span {
    background: #80B354;
  }
  .e_commerce span {
    background: #F5A623;
  }
  .business span {
    background: #F8E71C;
  }
  .stats {
    position: absolute;
    color: #fff;
    font-size: 12px;
    display: flex;
    opacity: 0;
    animation: showstats 0.6s linear 1.8s;
    animation-fill-mode: forwards;  
  }
   
  .dot1 {
    height: 12px;
    width: 12px;
    margin: 0 7px;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 50%;  
  }
   
  .apps-stats {
    bottom: 155px;
    right: 230px;
  }
   
  .e_commerce-stats {
    bottom: 83px;
    left: 133px;
  }
   
  .business-stats {
    bottom: 133px;
    right: 62px;
  }
  .calendar-views span:hover {
    border: 2px solid #BDC6CF;
    cursor: pointer;
    border-radius: 15px;
  }
  .dataset-1 {
    animation: raise .8s linear 1;
    transform-origin: bottom;
  }
  .dataset-2 {
    animation: raise 1.6s linear 1;
    transform-origin: bottom;
  }
  .dataset-3 {
    animation: raise 1.8s linear 1;
    transform-origin: bottom;
  }
  .dot {
    width: 9px;
     height: 9px;
     display: inline-block;
     border-radius: 50%;
     margin-right: 9px;
   }
   .dot1 {
    width: 9px;
     height: 9px;
     display: inline-block;
     border-radius: 50%;
     margin-right: 9px;
   }
  .lines {
    opacity: 0;
    animation: showlines 0.6s linear 1.6s;
    animation-fill-mode: forwards;  
  }
  .statistics span:hover {
    transform: scale(1.4) rotate(0.02deg);
    border: 2px solid #fff;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
   
   
  .apps-stats span:hover {
    background: #80B354;
  }
   
  .e_commerce-stats span:hover {
    background: #F5A623;
  }
   
  .business-stats span:hover {
    background: #F8E71C;
  }
   
  @keyframes showlines {
    to { opacity: 0.2; }
  }
   
  @keyframes showstats {
    to { opacity: 1; }
  }
   
  @keyframes raise {
    0% { transform: scaleY(0.01); }
    75% { transform: scaleY(1.1); }
    100% { transform: scaleY(1); }
  }
/*Team section styles*/
.container-simple-cards[data-v-9e2eb966] {
   position: relative;
}
.container.large {
   max-width: 1500px;
}
.animated-icon[data-v-9e2eb966]:first-child {
   top: -40px;
   right: 0;
   -webkit-transform: rotate(-15deg);
   transform: rotate(-15deg);
}
.animated-icon[data-v-9e2eb966] {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 96px;
   height: 96px;
   border-radius: 50%;
   background: #11a3eb;
   position: absolute;
   pointer-events: none;
   z-index: 1;
}
.animated-icon[data-v-9e2eb966]:after, .animated-icon[data-v-9e2eb966]:before {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   border-radius: 50%;
   background: #11a3eb;
   z-index: -1;
   -webkit-animation-name: pulse-data-v-9e2eb966;
   animation-name: pulse-data-v-9e2eb966;
   -webkit-animation-duration: 2s;
   animation-duration: 2s;
   -webkit-animation-timing-function: ease-in-out;
   animation-timing-function: ease-in-out;
   -webkit-animation-direction: normal;
   animation-direction: normal;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
   -webkit-animation-play-state: running;
   animation-play-state: running;
}
.animated-icon img[data-v-9e2eb966] {
   width: 60%;
}

.animated-icon[data-v-9e2eb966]:after {
   -webkit-animation-delay: .3s;
   animation-delay: .3s;
}
.animated-icon[data-v-9e2eb966]:after, .animated-icon[data-v-9e2eb966]:before {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   border-radius: 50%;
   background: #11a3eb;
   z-index: -1;
   -webkit-animation-name: pulse-data-v-9e2eb966;
   animation-name: pulse-data-v-9e2eb966;
   -webkit-animation-duration: 2s;
   animation-duration: 2s;
   -webkit-animation-timing-function: ease-in-out;
   animation-timing-function: ease-in-out;
   -webkit-animation-direction: normal;
   animation-direction: normal;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
   -webkit-animation-play-state: running;
   animation-play-state: running;
}


.animated-icon[data-v-9e2eb966]:nth-child(2) {
   bottom: -250px;
   left: -30px;
   -webkit-transform: rotate(30deg);
   transform: rotate(30deg);
}

.wrapper-simple-cards[data-v-9e2eb966] {
   display: flex;
   align-items: stretch;
   justify-content: center;
   flex-wrap: wrap;
   margin: 100px 0 0;
}
.card[data-v-9e2eb966] {
   width: calc(25% - 20px);
   max-width: 450px;
   margin: 0 10px;
   height: 300px;
   padding: 55px 60px 40px;
   border-radius: 28px;
   color: #a1a6ac;
   background: #fff;
   box-shadow: 14px 21px 50px 7px rgba(16,82,133,.35);
}

.wrapper-card-img[data-v-9e2eb966] {
   height: 400px;
   width: 100%;
}
.card-img[data-v-9e2eb966] {
   display: block;
   max-width: 300px;
   height: 150px;
   width: 100%;
   margin: 0 auto;
}
.card[data-v-9e2eb966] h4 {
   color: #11a3eb;
}
h4 {
   font-size: 2rem;
   margin: 1.3em 0;
}
p {
   margin: 1em 0;
}
.container-simple-cards{
   background-color: #0099ff;
}
.statistics{
   margin-top: 100px;
}
.portfolio{
   background-color: #0099ff;
}
/*Services styles*/

.mod.x-small-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}
.mod.x-small-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}
.has-bg {
    z-index: 1;
}
.container-cards[data-v-d19378e2] {
    overflow: hidden;
}
.bounds-cards[data-v-d19378e2] {
    display: flex;
}
.wrapper-cards[data-v-d19378e2] {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    padding: 50px 0;
}
.align-center {
    text-align: center;
}
.card[data-v-d19378e2] {
    flex: 0 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 15px;
    border-radius: 28px;
    box-shadow: 0 4px 10px rgba(10,34,53,.1);
    overflow: hidden;
}
.wrapper-title[data-v-d19378e2] {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 115px;
}
a {
    color: inherit;
    text-decoration: none;
    transition: .3s ease-in-out;
}
a {
    background-color: transparent;
}

.card.is-touch .wrapper-title[data-v-d19378e2]:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

:after, :before {
    vertical-align: inherit;
    text-decoration: inherit;
}
.title[data-v-d19378e2] {
    font-weight: 700;
}
.title[data-v-d19378e2] {
    padding: 0 40px;
    font-family: gilroy,sans-serif;
    font-size: 2.5rem;
    line-height: 1.1;
    color: #fff;
    transition: .3s ease-in-out;
}
.card .icon-wave-inverted[data-v-d19378e2] {
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 40px;
    fill: #fff;
    -webkit-transform: translateZ(0) rotate(180deg);
    transform: translateZ(0) rotate(180deg);
}
svg:not(:root) {
    overflow: hidden;
}
.icon {
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}


:not(svg) {
    transform-origin: 0px 0px;
}
.card .icon-arrow-up[data-v-d19378e2] {
  position: absolute;
 bottom: 12px;
    left: 50%;
    margin-left: -7px;
    width: 14px;
    height: 10px;
}

.wrapper-img[data-v-d19378e2] {
    position: absolute;
    top: 115px;
    bottom: 100px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}
.wrapper-img>img[data-v-d19378e2] {
    max-width: 100%;
    max-height: 100%;
}
.content[data-v-d19378e2] {
    position: relative;
    flex: 1 1 auto;
    padding: 75px 40px 40px;
    z-index: 1;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    transition: .3s ease-in-out;
}
.content[data-v-d19378e2]:before {
    content: "";
    position: absolute;
    top: 39px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    z-index: 2;
}
.content .wrapper-headband[data-v-d19378e2] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
}
.content .wrapper-headband[data-v-d19378e2]:before {
    left: 0;
}
.content .wrapper-headband[data-v-d19378e2]:after, .content .wrapper-headband[data-v-d19378e2]:before {
    content: "";
    display: block;
    width: calc(50% - 50px);
    position: absolute;
    top: 0;
    bottom: 0;
    background: #fff;
}
.content .icon-wave[data-v-d19378e2] {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100%;
    fill: #fff;
}
.content .wrapper-headband[data-v-d19378e2]:after {
    right: 0;
}
.content .wrapper-headband[data-v-d19378e2]:after, .content .wrapper-headband[data-v-d19378e2]:before {
    content: "";
    display: block;
    width: calc(50% - 50px);
    position: absolute;
    top: 0;
    bottom: 0;
    background: #fff;
}
.intro[data-v-d19378e2] {
    padding-bottom: 20px;
    position: relative;
}
.intro[data-v-d19378e2], .title[data-v-d19378e2] {
    font-weight: 700;
}
.intro[data-v-d19378e2]:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -13px;
    display: block;
    width: 26px;
    height: 1px;
    background: currentColor;
}
.links-intro[data-v-d19378e2] {
    margin: 20px 0;
    color: #646a71;
}
.wrapper-links[data-v-d19378e2] {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.wrapper-links a[data-v-d19378e2] {
    display: inline-flex;
    position: relative;
    margin: 4px;
    padding: 6px 10px 4px;
    font-family: gilroy,sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: #b6babe;
    z-index: 1;
    transition: color .3s ease-in-out;
}
.wrapper-cards[data-v-d19378e2] {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    padding: 50px 0;

}
.wrapp{
    display: flex;
    justify-content: space-between;
	justify-content: center;
	align-items: center;
	margin-top:2rem;
}
.wrapp .img_effect{
    display: flex;
    flex-direction: row;
	position: relative;
	width: 400px;
	height: 300px;
	background-size: cover;
	margin-bottom: 100px;

}
.wrapp .img_effect .box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: 0.3s;
}
.wrapp .img_effect .box.box1{
	background: url("images/landing1.png");
	background-size: cover;

	clip-path: polygon(0 0, 51% 0, 23% 100%, 0% 100%);
}
.wrapp .img_effect .box.box2{
background: url("images/landing2.jpg");
	background-size: cover;

	clip-path: polygon(39% 0, 89% 0, 54% 100%, 20% 100%);
}
.wrapp .img_effect .box.box3{
background: url("images/landing3.png");
	background-size: cover;

	clip-path: polygon(85% 0, 100% 0, 100% 100%, 50% 100%);
}
.wrapp .img_effect .box.box4{
	background: url("images/landing4.jpg");
	background-size: cover;

	clip-path: polygon(0 0, 51% 0, 23% 100%, 0% 100%);
}
.wrapp .img_effect .box.box5{
background: url("images/landing5.jpg");
	background-size: cover;

	clip-path: polygon(39% 0, 89% 0, 54% 100%, 20% 100%);
}
.wrapp .img_effect .box.box6{
background: url("images/landing6.jpg");
	background-size: cover;

	clip-path: polygon(85% 0, 100% 0, 100% 100%, 50% 100%);
}
.wrapp .img_effect .box.box7{
	background: url("images/nauto-ebook-landing-page.png");
	background-size: cover;

	clip-path: polygon(0 0, 51% 0, 23% 100%, 0% 100%);
}
.wrapp .img_effect .box.box8{
background: url("images/58ca2bb511546baee15ac13cf7b0330c.png");
	background-size: cover;

	clip-path: polygon(39% 0, 89% 0, 54% 100%, 20% 100%);
}
.wrapp .img_effect .box.box9{
background: url("images/landing9.jpg");
	background-size: cover;

	clip-path: polygon(85% 0, 100% 0, 100% 100%, 50% 100%);
}
.wrapp .img_effect:hover .box{
	clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.wrapp .img_effect .box:hover{
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.wrapp .img_effect .box .content{
	width: 65%;
	position: absolute;
	bottom: -100%;
	opacity: 0;
	left: 0;
	padding: 10px;
	color:#fff;
	background: rgba(0,0,0, .7);
	transition: 0.3s;
}

.team{
	width: 100%;
	padding: 20px;
	background-color: #0099ff;
}
.team_section{
	display: flex;
	
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	background-color: #0099ff;
}
.card{
	margin: 0;
}
.title{
	text-align: center;
}
 .wrapper-title[data-v-d19378e2] {
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 115px
            }
.card-deck{
    margin: 10px;
}


/*Footer design*/
footer{
	position: relative;
	bottom: 0;
}
.footer-distributed{
	background-color: rgb(18, 51, 62);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}
            /*medias*/
            @media (min-width: 800px){
                .carousel-item img{
                    height: unset;
                }
            }
    @media (max-width: 1400px){
        header{
            width: 100%;
        }
            .animated-icon:first-child {
            top: -20px;
        }
        .mod.x-small-padding {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        .mod {
            padding-top: 200px;
            padding-bottom: 200px;
        }
         .animated-icon[data-v-9e2eb966]:nth-child(2) {
            bottom: -130px;
            left: 30px;
        }
        .wrapper-simple-cards[data-v-9e2eb966] {
            margin-top: 80px;
        }
        .card[data-v-9e2eb966] {
            width: calc(50% - 20px);
            max-width: 450px;
            margin: 10px;
            padding: 40px 40px 30px;
        }
        .wrapper-card-img[data-v-9e2eb966] {
                height: 100px;
        }
        }
        
            @media (max-width: 479px){
        .carousel-item img{
            width: 100%
        }
        h3{
            font-size: 20px;
        }
        p{
            font-size: 10px;
        }
        .card{
            width: 300px;
        }
        .box{
            width: 300px;
        }
        .wrapp .img_effect{
            width: 200px;
            height: 200px;
        }
        }
        @media screen and (max-width:991.98px){
        .list_item li a:before{
            margin-top: 0;
        }
        .list_item li a:after{
            align-self: right;
        }
        .navbar-nav .dropdown-menu{
            position: absolute;
        }
        .main{
            flex-direction: column;
        }
        .typewriter{
            text-align: center;
            top: 400px;
            right: unset;
            align-self: center;
        }
        .carousel-inner .main_image{
              top: 60px;
              left: unset;
              max-width: 100%;
            height: auto;
            flex: 0 0 auto;
            margin-left: 60px;
            align-self: center;
        }
        .nav-exp{
            background-color: #fff;
        }
        }
            
        @media (max-width: 1160px){
        .navbar-brand{
            width: 100px;
        }
        .wrapper-cta-blocks {
            margin-top: 0vh;
        }
        }
        @media (max-width: 580px){
        .wrapper-cta-blocks{
            flex-direction: column;
        }
        .texts{
            flex-direction: column;
        }
        .cta-block{
            align-self: center;
        }
            h4 {
            font-size: 1.6rem;
        }
        .cta-blocks[data-v-0092190a] {
            flex-direction: column;
        }
        .cta-block[data-v-0092190a] {
            width: 100%;
            padding: 40px 25px;
        }
        .cta-block[data-v-0092190a]:first-child:before {
            width: auto;
            height: 1px;
            top: auto;
            left: 0;
        }
        .cta-btn[data-v-0092190a] {
            margin-top: 15px;
        }
        .card{
            align-self: center;
        }
        form{
            margin-top: 20px;
        }
        .form--contact-us{
           flex-direction: column;
           margin-top: 20px;
        }
        label{
            display: flex;
            flex-direction: column;
        }
        input{
            width: 200px;
        }
        select{
            width: 200px;
        }
        textarea{
            width: 200px;
        }
        .checking_p{
            font-size: 10px;
            width: auto;
        }
        }
        @media (max-width: 990px){
            .wrapper-cta-blocks {
            margin-top: -5vh;
        }
        .navbar{
            background-color: #fff;
            z-index: 1000;
            height: 100px;
            font-color: #32569A ;
            padding: 0;
            margin-top: 0;
        }
        
        .navbar-expand-lg.scrolled{
          background:#fff;
        }
        .nav-exp{
            background-color: #fff;
            z-index: 1000;
            color:#32569A ;
        }
        .navbar-collapse ul li a{
            margin-left:40%;
        }
        .dropdown-menu a{
            margin-left: 40%;
        }
        .navbar-collapse ul li button{
            width:200px;
            margin-left:40%;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        .navbar-collapse ul li a{
            color: black;
        }
        
        .navbar .navbar-brand{
            margin-top: 0;
            padding: 0;
            margin-left: 40%;
        
        }
        .navbar .container .navbar-brand img{
            top: 0px;
        }
        .carousel-item{
            height: 700px;
        }
        
        }
            @media (max-width: 1100px){
        .wrapper-cta-blocks {
            padding: 0 30px;
            max-width: 1200px;
            margin: 0 auto;
        }
        .mod, .mod.medium-padding {
            padding-top: 150px;
            padding-bottom: 150px;
        }
        .card[data-v-d19378e2] {
            width: 300px;
        }
        .wrapper-title[data-v-d19378e2] {
            height: 90px;
        }
        .title[data-v-d19378e2] {
            padding: 0 30px;
            font-size: 2.3rem;
        }
        .wrapper-img[data-v-d19378e2] {
            top: 90px;
            bottom: 90px;
        }
        .content[data-v-d19378e2] {
            padding: 45px 25px 25px;
        }
        .links-intro[data-v-d19378e2] {
            margin: 20px 0 15px;
        }
        .wrapper-links a[data-v-d19378e2] {
            font-size: 1.4rem;
        }
        .navbar-nav{
                margin-top: 40px;
            }
            .header-contact[data-v-2bd73ab3] {
                padding: 80px 150px;
            }
            }
        @media (max-width: 1700px){
        .animated-icon[data-v-9e2eb966]:first-child {
            right: 60px;
        }
        }
     @media (max-width: 780px){
                .carousel-item img{
                    height: 900px;
                }
        .wrapper-simple-cards[data-v-9e2eb966] {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-top: 50px;
        }
        .wrapper-cta-blocks[data-v-0092190a] {
            margin-top: -30px;
        }
        .content[data-v-d19378e2] {
            padding: 40px 20px 20px;
        }
        .title[data-v-d19378e2] {
            padding: 0 20px;
            font-size: 1.8rem;
        }
        .card[data-v-9e2eb966] {
            width: 100%;
            max-width: 280px;
            margin: 10px 0;
            padding: 30px 30px 20px;
            }
            .wrapper-card-img[data-v-9e2eb966] {
            height: 80px;
        }
        .card[data-v-d19378e2] {
            width: 250px;
        }
        h4 {
            font-size: 1.8rem;
        }
       
        .mod.x-small-padding {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .wrapper-title[data-v-d19378e2] {
            height: 70px;
        }
        .intro[data-v-d19378e2] {
            font-size: 1.5rem;
        }
        .wrapper-links a[data-v-d19378e2] {
            font-size: 1.3rem;
        }
        .block{
            flex-direction: column;
        }
        .cta-block[data-v-0092190a] {
            padding: 50px 25px 60px;
        }
        .cta-block[data-v-0092190a] p {
            font-size: 1.6rem;
        }
        .cta-btn[data-v-0092190a] {
            margin-top: 30px;
        }
        .header-contact[data-v-2bd73ab3] {
            padding: 50px;
        }
        }
        @media (max-width: 960px){
        .mod, .mod.medium-padding, .mod.small-padding {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        .title[data-v-d19378e2] {
            padding: 0 25px;
            font-size: 2rem;
        }
        .card[data-v-d19378e2] {
            width: 280px;
            margin-bottom: 10px;
            align: center;
        }
       
        .wrapper-cards{
            flex-wrap: wrap;
            justify-content: center;
        }
        .wrapper-title[data-v-d19378e2] {
            height: 80px;
        }
        .content[data-v-d19378e2] {
            padding: 45px 25px 25px;
        }
        .content[data-v-d19378e2]:before {
            top: 29px;
        }
        .content .wrapper-headband[data-v-d19378e2] {
            height: 30px;
        }
        .content .wrapper-headband[data-v-d19378e2]:before {
            left: 0;
        }
        .content .wrapper-headband[data-v-d19378e2]:after, .content .wrapper-headband[data-v-d19378e2]:before {
            width: calc(50% - 37px);
        }
        .content .icon-wave[data-v-d19378e2] {
            margin-left: -37px;
            width: 74px;
        }
        .content .wrapper-headband[data-v-d19378e2]:after {
            right: 0;
        }
        .content .wrapper-headband[data-v-d19378e2]:after, .content .wrapper-headband[data-v-d19378e2]:before {
            width: calc(50% - 37px);
        }
        .intro[data-v-d19378e2] {
            padding-bottom: 10px;
        }
        .links-intro[data-v-d19378e2] {
            margin: 10px 0 5px;
        }
        .content-contact[data-v-2bd73ab3]:not(.choices), .header-contact[data-v-2bd73ab3] {
            padding: 80px 100px;
        }
        .mod, .mod.medium-padding, .mod.small-padding {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        .cta-block[data-v-0092190a] {
            padding: 80px 40px 90px;
        }
        .cta-block[data-v-0092190a] p {
            font-size: 1.8rem;
        }
        .wrapp{
            flex-direction: column;
        }
            }
        @media (min-width: 1100px){
            .carousel-item img{
                height: 1020px;
            }
        }
